<%-include ('commons/header')%>

    <form method="POST" action="">
        <input type="text" name="nom" />
        <input type="submit" value="valider" />
    </form>
    <h1 class="border rounded-lg bg-dark text-white p-2">Coucou
        <%= nom %>
    </h1>

    <%-include ('commons/footer')%>